<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="address" class="com.scope.Address" scope="singleton"></bean>
   
   <bean id="student" class="com.scope.Student" autowire="byName"></bean>
   
   <bean id="faculty" class="com.scope.Faculty" autowire="byName"></bean>
   
   <bean id="worker" class="com.scope.Worker" autowire="byName"></bean>
   

</beans>